include nav-admin.pug

.container.mt-4
   .row
      .col-md-6
         form#formu(action="", method="post")
            h2.mb-4 Agregar medicamento

            .mb-3
               label.form-label(for="") Nombre:
               select#nombreSelect.form-select
                  option(value="0") Seleccione un nombre
                  each nombre in nombres
                     option(value=nombre.id) #{nombre.nombregenerico}
            .mb-3
               label.form-label(for="") Concentracion:
               select#concentracionSelect.form-select
                  option(value="0") Seleccione una concentracion
                  each concentracion in concentraciones
                     option(value=concentracion.id) #{concentracion.nombre}
            .mb-3
               label.form-label(for="") Forma Farmaceutica:
               select#formafarmaceuticaSelect.form-select
                  option(value="0") Seleccione una forma farmaceutica
                  each formafarmaceutica in formafarmaceuticas
                     option(value=formafarmaceutica.id) #{formafarmaceutica.nombre}
            .mb-4
               label.form-label(for="") Presentacion:
               select#presentacionSelect.form-select
                  option(value="0") Seleccione una presentacion
                  each presentacion in presentaciones
                     option(value=presentacion.id) #{presentacion.nombre}
            .mb-3
               label.form-label(for="") Categoria:
               select#categoriaSelect.form-select
                  option(value="0") Seleccione una categoria
                  each categoria in categorias
                     option(value=categoria.id) #{categoria.nombre}
            .mb-4
               label.form-label(for="") Familia:
               select#familiaSelect.form-select
                  option(value="0") Seleccione una familia
                  each familia in familias
                     option(value=familia.id) #{familia.nombre}

            .mb-4
               button#agregarMedicamento.btn.btn-success(type="button") Agregar

      .col-md-6
         h2.mb-4 Listado de medicamentos

         .mb-3
            label.form-label(for="") Buscar:
            input#buscarMedicamento.form-control(type="text", placeholder="Buscar medicamento por nombre")

         .mb-4
            #medicamentosInfo
               each medicamento in medicamentos
                  .alert.alert-success.mb-1(role="alert", data-id=medicamento.id)
                     | #{medicamento.nombre} #{medicamento.concentracion} | #{medicamento.formafarmaceutica} x#{medicamento.presentacion}

script(src="./js/medicamento.js")