include navbar.pug

.container.mt-4
   .row
      .col-md-6
         form#formu(action="", method="post")

            //- PACIENTE
            h2.mb-3 Paciente
            .input-group.mb-3
               input#pacienteInput.form-control(type="number", placeholder="Escriba el documento del paciente" oninput="validarInput('#pacienteInput', '#buscarPaciente')")
               button#buscarPaciente.btn.btn-success(type="button" disabled) Buscar
            .mb-3
               #pacienteInfo

            //- OBRASOCIAL
            .input-group.mb-3
               span.input-group-text Obra Social:
               select#obrasocialSelect.form-select
                  option(value="0") No tiene
                  each obrasocial in obrasociales
                     option(value=obrasocial.id) #{obrasocial.nombre}
            .input-group.mb-5
               span.input-group-text Plan:
               select#planSelect.form-select(disabled)
                  option(value="0") No tiene
            
            //- MEDICAMENTO
            h2.mb-3 Medicamento
            .mb-2
               input#medicamentoInput.form-control(type="text", placeholder="Aca podes filtrar por nombre. Ej: Ibuprofeno")
            .mb-4
               select#medicamentos.form-select
                  option(value="0" selected) Selecciona un medicamento
                  each medicamento in medicamentos
                     option(value=medicamento.id) #{medicamento.nombre} #{medicamento.concentracion} #{medicamento.formafarmaceutica} x#{medicamento.presentacion}
            .input-group.mb-3
               span.input-group-text Nombre comercial (opcional):
               input#nombreComercialInput.form-control(type="text", placeholder="Ej: Ibumac")
            .input-group.mb-3
               span.input-group-text Dosis:
               input#dosis1Input.form-control(type="number", placeholder="Ej: 1")
               span.input-group-text cada
               input#dosis2Input.form-control(type="number", placeholder="Ej: 8")
               span.input-group-text horas
            .input-group.mb-3
               span.input-group-text Duración:
               input#duracionInput.form-control(type="number", placeholder="Ej: 2")
               select#duracionSelect.form-select
                  option(value="dias") dias
                  option(value="semanas") semanas
            .mb-3
               button#agregarMedicamento.btn.btn-success(type="button" disabled) Agregar medicamento
            .mb-5
               #medicamentoInfo

            //- PRESTACION
            h2.mb-3 Prestación
            .mb-2
               input#prestacionInput.form-control(type="text", placeholder="Aca podes filtrar por nombre. Ej: Radiografía")
            .mb-4
               select#prestaciones.form-select
                  option(value="0" selected) Selecciona una prestación
                  each prestacion in prestaciones
                     option(value=prestacion.id) #{prestacion.nombre}
            .input-group.mb-3
               span.input-group-text Lado/zona (opcional):
               input#ladoInput.form-control(type="text", placeholder="Ej: Toráx, Cerebro")
            .input-group.mb-3
               span.input-group-text Indicación:
               input#indicacionInput.form-control(type="text", placeholder="Ej: Evaluación de la opacidad pulmonar...")
            .input-group.mb-3
               span.input-group-text Justificación:
               input#justificacionInput.form-control(type="text", placeholder="Ej: La radiografía de tórax es una herramienta diagnóstica...")
            .mb-3
               button#agregarPrestacion.btn.btn-success(type="button" disabled) Agregar prestación
            .mb-5
               #prestacionInfo

            //- PRESCRIPCION
            .input-group.mb-3
               span.input-group-text Vigencia de la prescripción:
               select#vigenciaSelect.form-select
                     option(value="30") 30 dias
                     option(value="60") 60 dias
            .input-group.mb-4
               span.input-group-text Diagnostico:
               input#diagnosticoInput.form-control(type="text")

            //- .mb-4.form-check
               //- label.form-check-label(for="imprimirCheck") Imprimir prescripción en PDF al finalizar.
               //- input#imprimirCheck.form-check-input(type="checkbox", checked)
            
            .d-grid.mb-5
               button#agregarPrescripcion.btn.btn-success(type="button", disabled) Guardar prescripcion y generar PDF
      
      .col-md-6
         h2.mb-3 Prescripciones anteriores

         .mb-3
            #prescripcionesInfo
               .alert.alert-primary.text-center(role="alert") Para ver prescripciones anteriores primero busque un paciente.

//- MODAL PARA PRESCRIPCION COMPLETA
.modal.fade#staticBackdrop(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
   .modal-dialog
      .modal-content
         .modal-header
            h1.modal-title.fs-5#staticBackdropLabel CPOE
         .modal-body#mensajePrescripcion
            | ...
         .modal-footer
            button.btn.btn-dark(type="button", data-bs-dismiss="modal" , onclick="window.location.reload()") Aceptar

//- MODAL PARA PACIENTE INEXISTENTE
.modal.fade#exampleModal(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
   .modal-dialog
      .modal-content
         .modal-header
            h1.modal-title.fs-5#exampleModalLabel CPOE
         .modal-body#mensajePaciente
            | ...
         .modal-footer
            button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Cerrar
            a.btn.btn-dark(type="button", href="/pacientes") Agregar Paciente

script(src="./js/prescripcion.js")
script(src="./js/conclusion.js")